<div>
    <div v-if="$route.params.page != undefined">
        <a style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal" v-on:click="show_add_app">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 增加应用
        </a>
    </div>
    <div v-else><a style="float:right;margin-right:15px;cursor:pointer" v-on:click="all_apps">所有app列表</a></div>
    <table class="table table-responsive" style="margin-top:15px;">
        <thead>
            <tr class="active">
                <td style="width:24px;">#</td>
                <td style="text-align:center;">应用ID</td>
                <td style="text-align:center;">应用名</td>
                <td style="text-align:center;">创建时间</td>
                <td v-if="$route.params.page!=undefined || $route.params.keyword!=undefined" style="text-align:center;">操作</td>
            </tr>
        </thead>
        <tbody>
                <tr v-for="(idx,app) in data">
                    <td style="vertical-align:middle;text-align:center;">
                        {{idx+1}}
                    </td>
                    <td style="vertical-align:middle;text-align:center;padding:4px 4px 4px 4px;">
                        <a v-link="{path:'/app/'+app.appid+'/'+app.key,query:{from_apps_page:$route.params.page}}">{{app.appid}}</a>
                        <br/>
                        <span v-if="app.aux_info.title && app.aux_info.title!=''">{{app.aux_info.title}}</span>
                        <a v-if="app.aux_info.link && app.aux_info.link!=''" v-bind:href="app.aux_info.link" target="_blank"><span class="glyphicon glyphicon-share-alt"></span></a>
                    </td>

                    <td style="vertical-align:middle;text-align:center;padding:4px 4px 4px 4px;">
                        <a v-link="{path:'/app/'+app.appname+'/'+app.key,query:{from_apps_page:$route.params.page}}">{{app.appname}}</a>
                        <br/>
                        <span v-if="app.aux_info.title && app.aux_info.title!=''">{{app.aux_info.title}}</span>
                        <a v-if="app.aux_info.link && app.aux_info.link!=''" v-bind:href="app.aux_info.link" target="_blank"><span class="glyphicon glyphicon-share-alt"></span></a>
                    </td>
                    <td style="vertical-align:middle;text-align:center;">{{{app.created_utc | datetime}}}</td>
                    <td style="vertical-align:middle;text-align:center;" v-if="$route.params.page!=undefined || $route.params.keyword!=undefined">
                        <a style="cursor:pointer;font-size:15px;" data-toggle="modal" data-target="#myModal" v-on:click="show_edit_app(app)">修改</a>
                    </td>
                </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">{{modal_title}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" v-bind:class="{'has-error':err_msg}">
                    <label class="control-label">
                        应用ID
                        <span class="label label-danger">必填</span>
                    </label>
                    <div>
                        <input type="text" class="form-control" v-model="app.appid">
                        <span class="alert-danger">{{ err_msg }}</span>
                    </div>
                </div>

                <div class="form-group" v-bind:class="{'has-error':err_msg}">
                    <label class="control-label">
                        应用名
                        <span class="label label-danger">必填</span>
                    </label>
                    <div>
                        <input type="text" class="form-control" v-model="app.appname">
                        <span class="alert-danger">{{ err_msg }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">应用图标</label>
                    <div>
                        <input class="form-control" type="text" v-model="app.aux_info.icon">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="save_data">{{operater}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<div v-if="$route.params.page != undefined" style="text-align:center;">
    <ul class="pagination pagination-sm" style="cursor:pointer;">
        <li v-bind:class="{disabled:$route.params.page<=1}">
            <a v-if="$route.params.page>1" v-link="{path:'/apps/all/'+(parseInt($route.params.page)-1)}">&laquo上一页</a>
            <a v-else>&laquo上一页</a>
        </li>
        <li v-for="page in page_count" v-bind:class="{active:page+1==parseInt($route.params.page)}">
            <a v-link="{path:'/apps/all/'+(page+1)}">{{page+1}}</a>
        </li>
        <li v-bind:class="{disabled:parseInt($route.params.page)>=page_count}">
            <a v-if="parseInt($route.params.page)<page_count" v-link="{path:'/apps/all/'+(parseInt($route.params.page)+1)}">下一页&raquo</a>
            <a v-else>下一页&raquo</a>
        </li>
    </ul>
</div>
