<div class="container">
    <div class="row">
    <div style="padding-top:15px;" class="col-md-offset-3 col-md-6">
        <h4 style="text-align:center;">
            <span v-if="$route.path=='/register'">创建新用户</span>
        </h4>
    </div>
    </div>
    <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <form class="form-horizontal" v-on:submit.prevent>
            <div class="form-group" v-bind:class="{'has-error':email_error}">
                        <label for="input_init_email" class="col-md-4 control-label">邮箱</label>
                        <div class="col-md-6">
                            <input type="email" class="form-control" style="margin-top:5px;" v-model="email" placeholder="输入邮箱">
                            <span class="alert-danger">{{email_error}}</span>
                        </div>
            </div>
            <div class="form-group" id="input_init_name">
                <label for="input_init_name"  class="col-md-4 control-label">用&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp户</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" style="margin-top:5px;" v-model="name" placeholder="字母、中文(至多7位)" maxlength="7">
                </div>
            </div>
            <div class="form-group" id="input_init_pass_code">
                <label for="input_init_pass_code" class="col-md-4 control-label">密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" style="margin-top:5px;" v-model="pass_code" maxlength="24" placeholder="密码(至少8位)">
                </div>
            </div>
            <div class="form-group" id="test_init_pass_code">
                <label for="test_init_pass_code" class="col-md-4 control-label">确认密码</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" style="margin-top:5px;" v-model="test_pass_code" maxlength="24" placeholder="再次输入密码">
                    <span class="alert-danger">{{message}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-6">
                    <button class="btn btn-success" type="button" style="margin-top:15px;width:100%;" v-on:click="init_user">创建</button>
                </div>
            </div>
        </form>
    </div>
    </div><!-- class = row -->
</div>
