<div class="page-inner page-member-settings" style="margin-left:25%;">
    <h3 style="padding-top:15px;margin-left:15%">用户信息</h3>
    <form style="padding-top:15px;" v-on:submit.prevent>
        <div class="form-item">
            <label class="text-success" style="font-size:22px;">{{user_name}}</label>
            <img class="img-circle" v-bind:src="user_icon" style="width:80px;height:80px;margin-left:30px;">
        </div>
        <div class="form-item" style="margin-top:30px;">
            <div>
                <span class="text-info" style="font-size:18px;">用户名</span>
                <span style="font-size:17px;margin-left:5px;">{{user_name}}</span>
            </div>
            <div style="margin-top:5px;">
                <span class="text-info" style="font-size:18px;">用户key</span>
                <span style="font-size:17px;margin-left:5px;">{{data.data.key}}</span>
            </div>
        </div>
        <div class="form-item" style="margin-top:25px;">
            <span class="text-info" style="font-size:18px;">邮箱</span>
            <span style="font-size:17px;margin-left:5px;">{{user_email}}</span>
        </div>
        <div class="form-item" style="margin-top:30px;">
            <div>
                <span class="text-info" style="font-size:18px;">创建人</span>
                <span style="font-size:17px;margin-left:5px;">{{data.data.creator_name}}</span>
            </div>
            <div style="margin-top:5px;">
                <span class="text-info" style="font-size:18px;">创建人key</span>
                <span style="font-size:17px;margin-left:5px;">{{data.data.creator_key}}</span>
            </div>
        </div>
        <div class="form-item" style="margin-top:30px;">
            <span class="text-info" style="font-size:18px;">时间</span>
            <span style="font-size:17px;margin-left:5px;">{{{data.data.created_utc | datetime}}}</span>
        </div>
        <div style="margin-top:15px;">
            <button class="btn btn-info col-md-1" style="margin-left:18%;margin-top:5px;" data-toggle="modal" data-target="#myModal">修改</button>
        </div>
    </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">修改个人信息</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">用户名</label>
                    <div>
                        <input type="text" class="form-control" v-model="user_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">用户头像</label>
                    <div>
                        <input type="text" class="form-control" v-model="user_icon">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">邮箱</label>
                    <div>
                        <input type="text" class="form-control" v-model="user_email">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="save_user_info">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
