<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ShareTrace</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/sticon.ico" />
    <style>

    </style>
</head>
<body>
    <div id="sharetrace">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <img width="40px" height="40px" src="img/sticon.png" style="margin-top:3px;">
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li style="cursor:pointer;" v-bind:class="{'active':is_apps_active()}" v-link="{ path: '/apps' }"><a>应用</a></li>
                    </ul>
                    <ul class="nav navbar-nav" v-if="useremail == 'admin@appwill.com' ">
                        <li style="cursor:pointer;" v-bind:class="{'active':is_users_active()}" v-link="{ path: '/users' }"><a>用户</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" v-if="useremail">
                        <li><a style="cursor:pointer;" role="presentation" v-on:click="logout"><span class="glyphicon glyphicon-log-out"></span> &nbsp; {{useremail}} 登出</a></li>
                    </ul>

                    <template v-else>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a style="cursor:pointer;" role="presentation" v-on:click="register"><span class="glyphicon glyphicon-log-in"></span> 注册</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" v-else>
                        <li v-bind:class="{'active':true}"><a style="cursor:pointer;" role="presentation" v-on:click="login" ><span class="glyphicon glyphicon-log-in" ></span> 登录</a></li>
                    </ul>
                    </template>


                </div>
            </div>
        </div>
        <div class="container">
          <div style="margin-top:60px;"></div>
          <router-view></router-view>
        </div>
    </div>
    <script src="lib/vue/vue.min.js"></script>
    <script src="lib/vue/vue-router.min.js"></script>
    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="lib/jquery.cookie.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/fetch.js"></script>
    <script src="lib/is.min.js"></script>
    <script src="lib/initial.min.js"></script>

    <script src="js/utils.js"></script>
    <script src="js/sharetrace.js"></script>
    <script src="js/components/user.js"></script>
    <script src="js/components/app.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
